<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <%  %>

    <script>
      Swal.fire({
        icon: 'error',
        title: '¡Datos incorrectos!',
        text: 'El correo y/o la contraseña no coinciden.',
        showConfirmButton: true,
        timer: false
      }).then( () => {
        window.location = "/signin"
      })
    </script>
  <%  %>
</body>
</html>
